.post
    display: flex
    flex-direction: column
    width: 60%
    margin: 20px
    &-label
       color: #707070 
    &-content
        background-color: #ccc
        border: none
        height: 130px
        margin-bottom: 20px 
        padding: 5px
        width: 100%
        &:focus
            outline: none
    &-button
        width: 120px
        border: none
        padding: 5px
        background-color: #2218e0
        color: #fff
        border-radius: 8px
        transition: .7s
        cursor: pointer
        align-self: flex-end
        &:hover
            transform: scale(1.04)

@media( max-width: 700px )
    .post
        display: flex
        align-items: center
        justify-content: center
        width: 80%
    
        